# Python bytecode files
__pycache__/
*.py[cod]

# Virtual environment directories
venv/
env/

# IDE and editor configurations
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Log files
*.log

# Output files
output.txt
output_1.txt

# Other temporary files
*.tmp
*.temp